.layout-tabs-block {
  height: var(--w-tabs-height);

  .mixin-tab-top-line() {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: var(--w-tabs-item-active-line-height);
      content: '';
      background-color: rgb(var(--w-color-primary));
      transform: scaleX(0);
      transform-origin: left center;
      transition: transform var(--w-motion-duration-base)
        var(--w-motion-ease-standard);
    }

    &:hover::before,
    &-active::before,
    &.tab-item-active::before {
      transform: scaleX(1);
    }
  }

  .tab-control {
    width: var(--w-tabs-control-size);
    height: 100%;
    background-color: var(--w-tabs-control-bg-color);
    border-left: 1px solid var(--w-tabs-control-border-color);

    &-prev {
      border-left: none;
    }

    &-home {
      .mixin-tab-top-line();

      border-right: 1px solid var(--w-tabs-control-border-color);
    }
  }

  .layout-tabs-list {
    height: 100%;
    margin: var(--w-tabs-list-margin);
  }

  .tab-item-wrapper {
    position: relative;

    &:active:not([data-w-draggable-dragging='true'])
      .tab-item:not(.tab-item-fixed) {
      opacity: 1;
      transform: none;
    }
  }

  .tab-item {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 var(--w-tabs-item-padding-x);
    overflow: hidden;
    border-right: var(--w-tabs-item-divider-width) solid
      var(--w-tabs-item-border-color);

    .mixin-tab-top-line();

    &:hover {
      background-color: var(--w-tabs-item-hover-bg-color);
    }

    &-active {
      color: var(--w-tabs-item-active-color);
      background-color: var(--w-tabs-item-active-bg-color);
    }

    &-fixed {
      font-weight: 500;
    }

    &__pin {
      color: rgb(var(--w-color-primary));
      transition: color var(--w-motion-duration-base)
        var(--w-motion-ease-standard);
    }

    &__close {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: var(--w-tabs-item-close-size);
      min-width: var(--w-tabs-item-close-size);
      height: var(--w-tabs-item-close-size);
      min-height: var(--w-tabs-item-close-size);
      margin-left: var(--w-tabs-item-close-gap);
      color: var(--w-tabs-item-close-color);
      cursor: pointer;
      background-color: transparent;
      border: none;
      border-radius: 50%;
      transition:
        color var(--w-motion-duration-base) var(--w-motion-ease-standard),
        background-color var(--w-motion-duration-base)
          var(--w-motion-ease-standard);

      &:hover {
        color: rgb(var(--w-sider-item-active-color));
        background-color: rgb(var(--w-color-primary));
      }
    }
  }
}
