.layout-menu-horizontal {
  height: var(--w-header-height);
  line-height: var(--w-header-height) !important;

  .ant-menu-submenu-selected::after,
  .ant-menu-submenu-active::after {
    top: 0;
    bottom: unset !important;
  }
}
