[data-theme='dark'] {
  // filter: invert(1) hue-rotate(180deg);
  img {
    filter: invert(1) hue-rotate(180deg);
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  filter: invert(1) hue-rotate(180deg);
  z-index: 10000;
}

[data-theme='dark']::view-transition-old(root) {
  z-index: 10000;
}

[data-theme='dark']::view-transition-new(root) {
  z-index: 1;
}
