:root {
  --w-color-primary: 24, 144, 255;
  --w-color-success: 135, 208, 104;
  --w-color-error: 255, 77, 79;
  --w-color-warning: 24, 144, 255;

  // text color
  --w-text-main: 31 35 41; /* #1F2329 - 沉稳的深灰色 */
  --w-text-regular: 75 85 99; /* #4B5563 - 标准灰色 */
  --w-text-muted: 107 114 128; /* #6B7280 - 中灰色 */
  --w-text-placeholder: 156 163 175; /* #9CA3AF - 较浅灰，但仍能看清 */
  --w-text-disabled: 209 213 219; /* #D1D5DB - 浅灰色 */

  // background color
  --w-bg-page: 245 247 250;
  --w-bg-card: 228 231 237;
  --w-bg-popover: 192 196 204;

  // border color
  --w-border-primary: #dcdfe6;
  --w-border-regular: #c0c4cc;
  --w-border-secondary: #909399;
  --w-border-placeholder: #f5f7fa;
  --w-border-disabled: #e4e7ed;

  // tabs
  --w-tabs-bg: #fff;
  --w-tabs-border-color: #f2f2f2;
  --w-tabs-box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
  --w-tabs-control-bg: #fff;
  --w-tabs-control-color: #000;
  --w-tabs-control-border-color: #eee;
  --w-tabs-control-hover-bg-color: #eee;
  --w-tabs-control-active-bg-color: #d2d2d2;
  --w-tabs-item-bg-color: #fff;
  --w-tabs-item-hover-bg-color: #f6f6f6;
  --w-tabs-item-active-bg-color: #eee;
  --w-tabs-item-active-line-color: #292b34;
  --w-tabs-item-color: #000;
  --w-tabs-item-border-color: #eee;
  --w-tabs-item-close-color: #999;
  --w-tabs-item-close-hover-color: #292b34;
}

.dark {
  // text color
  --w-text-main: 217 217 217;
  --w-text-regular: 166 166 166;
  --w-text-muted: 115 115 115;
  --w-text-placeholder: 89 89 89;
  --w-text-disabled: 64 64 64;

  // background color
  --w-bg-page: 13, 13, 13;
  --w-bg-card: 26, 26, 26;
  --w-bg-popover: 38, 38, 38;

  // border color
  --w-border-primary: rgba(255, 255, 255, 0.1);
  --w-border-regular: rgba(255, 255, 255, 0.2);
  --w-border-secondary: rgba(255, 255, 255, 0.3);
  --w-border-placeholder: rgba(255, 255, 255, 0.4);
  --w-border-disabled: rgba(255, 255, 255, 0.5);

  // tabs
  --w-tabs-bg: #000000;
  --w-tabs-border-color: #666;
  --w-tabs-box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    0 4px 6px -1px rgba(255, 255, 255, 0.15),
    0 2px 4px -2px rgba(255, 255, 255, 0.15);
  --w-tabs-control-bg: #141414;
  --w-tabs-control-color: #fff;
  --w-tabs-control-border-color: #666;
  --w-tabs-control-hover-bg-color: #2e2e2e;
  --w-tabs-control-active-bg-color: #3e3e3e;

  --w-tabs-item-bg-color: #141414;
  --w-tabs-item-hover-bg-color: #2e2e2e;
  --w-tabs-item-active-bg-color: #3e3e3e;
  --w-tabs-item-active-line-color: #fff;
  --w-tabs-item-color: #fff;
  --w-tabs-item-border-color: #666;
  --w-tabs-item-close-color: #999;
  --w-tabs-item-close-hover-color: #fff;
}
